@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .roboto-thin {
    @apply font-roboto-thin font-thin font-normal;
  }
  .roboto-light {
    @apply font-roboto-light font-light font-normal;
  }
  .roboto-regular {
    @apply font-roboto-regular font-regular font-normal;
  }
  .roboto-medium {
    @apply font-roboto-medium font-medium font-normal;
  }
  .roboto-bold {
    @apply font-roboto-bold font-bold font-normal;
  }
  .roboto-black {
    @apply font-roboto-black font-black font-normal;
  }
  .roboto-thin-italic {
    @apply font-roboto-thin-italic font-thin font-italic;
  }
  .roboto-light-italic {
    @apply font-roboto-light-italic font-light font-italic;
  }
  .roboto-regular-italic {
    @apply font-roboto-regular-italic font-regular font-italic;
  }
  .roboto-medium-italic {
    @apply font-roboto-medium-italic font-medium font-italic;
  }
  .roboto-bold-italic {
    @apply font-roboto-bold-italic font-bold font-italic;
  }
  .roboto-black-italic {
    @apply font-roboto-black-italic font-black font-italic;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

/* Add this to your global CSS file or a module CSS file */
/* CSS for the popup */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}

/* Ensure the popup is visible when `showError` is true */
.popup-overlay.show {
  opacity: 1;
  visibility: visible;
}
